<div class="card mt-4">
    <h4 class="card-header">Administrator</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        <p class="mb-1">All users from secure (admin only) api end point:</p>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="administrators">
            <li *ngFor="let administrator of administrators">{{administrator.person.firstName}} {{administrator.person.lastName}}</li>
        </ul>
    </div>
</div>